body {
    color: white;
	padding: 0;
	margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* slide layout
--------------------------------------------- */

.slide {
    position: relative;
    padding: 100px 5%;	/*40% nach oben/unten frei lassen, 5% nach links rechts frei lassen*/
}

.slide__content {
    max-width: 45em;	/* breite des content-Streifens, 45em passt für halbe FHD*/
    margin: auto;
}

.slide__bg {
    position: absolute;	/* bg wird absolut gesetzt und nachher verändert*/
    top: 0;
    left: -6px;			/* topnav-bar hat verschiebung nach rechts verursacht */
    right: 0;
    bottom: 0;
    z-index: -1;
}

#slide-1 .slide__bg {
    background-image: url(../../ressources/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 2800px;
}  

  /* Large screen layout
  --------------------------------------------- */ 
   

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
  
	html, body {
		overflow: hidden;
		height:100%;
	}
	  
	body {
		transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
	}

	.page {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		perspective: 300px;
		perspective-origin: 100% 100%;
	}

	
	.slide, .slide__content {
		transform-style: preserve-3d;
		transform: translateZ(0); /* Safari H/W acceleration */
	}
	  
	.slide__bg {
		transform: translateZ(-150px) scale(1.5);
		transform-origin: 100% 100%;
	}
}


