html{
	height: 100%;
}

body {
    color: white;
	padding: 0;
	margin: 0;
	background-image: url(../../ressources/background.jpg);
	background-position: center;
	height: 100%;
}

.fix_page{
	max-width: 680px;;
	margin: auto;	/*in der mitte platzieren*/
	position: relative;
	top: 100px;
	padding: auto;
	text-align: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
